/* Style the navigation menu */
.navbar .navbar1 {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navigation links */
.navbar .navbar1 a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar .navbar1 a:hover {
  background-color: #000;
}

/* Style the current/active link */
.navbar .navbar1 a.active {
  background-color: #4CAF50;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}
body, html {
  height: 100%;
  margin: 0;
}

/*.bg {
  /* The image used */
  background-image: url("https://www.w3schools.com/howto/img_parallax.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/